.hero{
  margin-top: 3rem;
}
.geolocation{
  margin-top: 2rem;
}
/*footer*/
footer{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.attribution {
  margin: auto;
  width: 30%;
  max-width: 30rem;
  display: block;
}
